{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
     <!-- banner section -->
       <section class="bg-success text-white py-5">
        <div class="container">
            <div class="row align-item-center">
                <div class="col-md-6">
                    <h1 class="display-4 fw-bold">Grocery Management System</h1>

                    <p class="lead mt-3">Buy Grocery Products in Bulk at the Best Wholesale Price.
                        Fast Delivery, GST Invoice and Credit Facility Available.</p>

                        <a href="{% url 'products' %}" class="btn btn-warning btn-lg mt-3 fw-bold text-dark btn-custom-hover">Now Shop</a>
                        <a href="{% url 'contact' %}" class="btn btn-light btn-lg mt-3 ms-2 text-dark fw-bold btn-custom-hover">Contact Us</a>
            </div>

            <div class="col-md-6 text-center">
                <img src="https://images.unsplash.com/photo-1542838132-92c53300491e?w=700" class="img-fluid rounded shadow" alt="Wholesale Grocery">
            </div>
            </div>
        </div>
       </section><br>

      <div class="product-section">
        <div class="section-header">
            <center>
            <h2>Product Details</h2>
            </center>
        </div>
        
        <div class="product-list" style="display: flex; gap: 20px; justify-content: center;">
           
           <!-- product one -->
           <div class="product-card">
              <span class="offer">15% OFF</span>
              <img src="{% static 'image/capsicum.jpg' %}">

              <p class="brand">Fresh</p>
              <h5 class="product-name">Name: Capsicum</h5>

              <div class="price-box">
                 <h4>Price : 100</h4>
              </div>
              <button class="btn-cart">Order Bulk Stock</button>
           </div>

           <!-- product two -->
           <div class="product-card">
              <span class="offer">15% OFF</span>
              <img src="{% static 'image/banana.jpg' %}">

              <p class="brand">Fresh</p>
              <h5 class="product-name">Name: Banana</h5>

              <div class="price-box">
                 <h4>Price : 150</h4>
              </div>
              <button class="btn-cart">Order Bulk Stock</button>
           </div>

           <!-- product three -->
            <div class="product-card">
              <span class="offer">15% OFF</span>
              <img src="{% static 'image/tulsi.jpg' %}">

              <p class="brand">Fresh</p>
              <h5 class="product-name">Name: Tulsi</h5>

              <div class="price-box">
                 <h4>Price : 200</h4>
              </div>
              <button class="btn-cart">Order Bulk Stock</button>
           </div>

           <!-- product four -->
            <div class="product-card">
              <span class="offer">15% OFF</span>
              <img src="{% static 'image/straeberry.jpg' %}">

              <p class="brand">Fresh</p>    
              <h5 class="product-name">Name: Straeberry</h5>

              <div class="price-box">
                 <h4>Price : 120</h4>
              </div>
              <button class="btn-cart">Order Bulk Stock</button>
           </div>
        </div>
    </div>
<hr>

    <div class="category-container">
        <center>
        <h2 class="category-title">Shop By Category</h2>
        </center>
        
        <div class="category-grid">
            <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/Fruits.jpg' %}">
                </div>
                <span>Fruits</span>
            </div>

             <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/vegetable.jpg' %}">
                </div>
                <span>Vegetables</span>
            </div>

             <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/dary_milk.jpg' %}">
                </div>
                <span>Dairy & Bakry</span>
            </div>

             <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/snack _drink.jpg' %}">
                </div>
                <span>Snack & Drink</span>
            </div>

            <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/shavingcare.jpg' %}">
                </div>
                <span>Shaving & Care</span>
            </div>

            <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/home_kitch_item.jpg' %}">
                </div>
                <span>Home Kitch Item</span>
            </div>
            <div class="category-card">
                <div class="circle-bg">
                    <img src="{% static 'image/cleaning_product.jpg' %}">
                </div>
                <span>Cleaning Item</span>
            </div>
        </div>
    </div>
  
</body>
</html>
{% endblock %}