{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <strong>Error: </strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container my-5">
    <div class="card shadow p-4 rounded-4">
        <h2 class="text-center mb-4" fw-bold> Order Summary </h2>

        <form method="POST">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-md-5 text-center mb-4 mb-md-0">
                    <div class="border rounded p-3 mb-3 bg-white shadow-sm d-flex align-items-center justify-content-center" style="height: 280px;">
                        {% if product.main_image %}
                            <img id="mainProductImg" src="{{ product.main_image.url }}" alt="{{ product.productname }}" style="max-height: 250px; max-width: 100%; object-fit: contain;">
                        {% endif %}
                    </div>

                        <div class="d-flex flex-wrap justify-content-center gap-2 py-2">
                            {% if product.main_image %}
                                <img src="{{ product.main_image.url }}" class="border roundedp-1" style="width: 60px; height: 60px; object-fit: cover; cursor: pointer; border-width: 2px !important;"
                                 onclick="document.getElementById('mainProductImg').src=this.src;">
                            {% endif %}

                            {% for extra in product.images.all %}
                            <img src="{{ extra.image.url }}" class="border rounded p-1" style="width: 60px; height: 60px; object-fit: cover; cursor: pointer; border-width: 2px !important;"
                             onclick="document.getElementById('mainProductImg').src=this.src;">
                            {% endfor %}
                        </div>
                </div>

                <div class="col-md-7 text-start">
                    <h3>{{ product.productname }}</h3>
                    <p>{{ product.description }}</p>
                    <h4 class="text-success">
                        RS : {{ product.price }}
                    </h4>
                    <hr>

                    <div class="mb-3">
                        <label class="form-label">Quantity(Available:{{ product.stock }})</label>
                        <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" class="form-control">
                    </div>

                    <br><br>
                    <h4>Shipping Details</h4>

                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" name="customername" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label>Phone Number</label>
                        <input type="text" name="customerphone" class="form-control"required>
                    </div>

                    <div class="mb-3">
                        <label>Address</label>
                        <textarea name="customeraddress" class="form-control" rows="3" placeholder="Enter Full Address" required></textarea>
                    </div>

                    <button class="btn btn-success w-100">Continue To Payment</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
