{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- simple Retailer register form -->
       <div class="container mt-5">
       <div class="row justify-content-center">
       <div class="col-md-8">
       <div class="card show">
        
        <center>
             <h3>Retailer Register</h3>
        </center>
       </div>

        <div class="card-body">
            <form method="POST">
<!-- {% csrf_token %} protect your data use of a form  -->
{% csrf_token %} 
                <div class="row">
                    <div class="col-md-6 mb-3">
                        Name:
                        <input type="text" name="name" class="form-control" required>
                    </div>

                     <div class="col-md-6 mb-3">
                        ShopName:
                        <input type="text" name="shopname" class="form-control" required>
                    </div>

                     <div class="col-md-6 mb-3">
                        Mobile:
                        <input type="text" name="mobile" class="form-control" required>
                    </div>

                     <div class="col-md-6 mb-3">
                        Email:
                        <input type="email" name="email" class="form-control" required>
                    </div>

                     <div class="col-md-6 mb-3">
                        Address:
                        <textarea name="address" class="form-control"></textarea>
                    </div>

                     <div class="col-md-6 mb-3">
                        UserName:
                        <input type="text" name="username" class="form-control" required>
                    </div>  

                     <div class="col-md-6 mb-3">
                        Password:
                        <input type="password" name="password" class="form-control" required>
                    </div>
                </div>
                <center>
                        <button class="btn btn-success">Register</button>

                        <!-- login link provide -->
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </center>
            </form>
        </div>
        </div>
       </div>
       </div>
{% endblock %}
</body>
</html>